header {
  width: 100%;
  background-color: #336699;
  height: 50px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;

}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
  
}

h1 {
  display: block;
  margin: 0 auto;
  width: 14%;
  padding-top: 5%;
}

h1.sign {
  display: block;
  margin: 0 auto;
  width: 21%;
  padding-top: 5%;
}

p.sign {
  display: block;
  margin: 0 auto;
  width: 21%;
  padding-top: 5%;
}

h3 {
  background-color: #ccffff
}

p{
  padding: 10px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  position: fixed;            /* フッターの固定 */
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll; 
}

h4.center{
  text-align: center;  
}
